html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "museo", sans-serif;
}

h1, h2, h3 {
  font-family: "museo sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h4 {
  font-weight: normal;
}

p {
  font-weight: 100;
  font-size: rem(18);
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all .2s linear;
}

%center {
  margin-left: auto;
  margin-right: auto;
}

.container {
  @include outer-container();
  position: relative;
}

.quote {
  @include row();
  background-color: $black;
  height: 130px;
  color: $white;
  text-align: center;
  font-family: "museo sans", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: rem(18);
  display: flex;
  align-items: center;
  blockquote {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}
