html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "museo", sans-serif;
}

h1, h2, h3 {
  font-family: "museo sans", sans-serif;
  text-transform: uppercase;
}

h4 {
  font-weight: normal;
}

p {
  font-weight: 100;
  font-size: rem(18);
}

.container {
  @include outer-container();
}

footer {
  @include row();
  height: 100px;
  background-color: $black;
  font-size: rem(18);
  color: $white;
  font-weight: 100;
  padding-top: 40px;
  a {
    color: $white;
    text-decoration: none;
    opacity: .7;
  }
  span {
    @include span-columns(2);
  }
}
