html {
  box-sizing: border-box;
  font-size: 1.2vw;
  @media screen and (max-width: $br-1) {
    font-size: 1.5vw;
  }
  @media screen and (max-width: $br-2) {
    font-size: 3.2vw;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "museo", sans-serif;
}

h1, h2, h3 {
  font-family: "museo-sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h4 {
  font-weight: normal;
}

p {
  font-weight: 100;
  font-size: rem(18);
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all .2s linear;
  color: $red;
  &:hover {
    color: $black;
  }
}

%center {
  margin-left: auto;
  margin-right: auto;
}

.container {
  @include outer-container();
  position: relative;
  max-width: rem(1200);
}

.pullout {
  @include row();
  background-color: $black;
  height: rem(130);
  color: $white;
  text-align: center;
  font-family: "museo-sans", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: rem(18);
  display: flex;
  align-items: center;
  blockquote {
    @extend %center;
    width: 60%;
    float: none;
    @media screen and (max-width: $br-2) {
      width: 100%;
    }
  }
  &__caption {
    font-weight: 500;
  }

}

.social {
  clear: both;
  padding-bottom: 10%;
  width: 90%;
  border-bottom: 1px solid lighten($black, 60%);
  margin-bottom: 10%;
  &__icon {
    max-width: rem(50);
    margin-right: rem(15);
  }
  @media screen and (max-width: $br-2) {
    width: 100%;
  }
}

.invest {
  width: 80%;
  @media screen and (max-width: $br-2) {
    padding-bottom: rem(30);
    border-bottom: 1px solid lighten($black, 60%);
    width: 100%;
    margin-bottom: rem(30);
    @include clearfix();
  }
}
