html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "museo", sans-serif;
}

h1, h2, h3 {
  font-family: "museo sans", sans-serif;
  text-transform: uppercase;
}

h4 {
  font-weight: normal;
}

p {
  font-weight: 100;
  font-size: rem(18);
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all .2s linear;
  &:hover {
    opacity: .8;
  }
}

.container {
  @include outer-container();
  position: relative;
}

.quote {
  @include row();
  background-color: $black;
  height: 130px;
  color: $white;
  text-align: center;
  font-family: "museo sans", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: rem(18);
  display: flex;
  align-items: center;
  blockquote {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

footer {
  @include row();
  height: 100px;
  background-color: $black;
  font-size: rem(18);
  color: $white;
  font-weight: 100;
  padding-top: 40px;
  padding-left: 10%;
  a {
    color: $white;
    text-decoration: none;
    opacity: .7;
  }
  span {
    @include span-columns(2);
  }
}
