.button {
  float: left;
  padding: rem(20);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: "museo sans", sans-serif;
  font-size: rem(14);
  &.img {
    padding: 3px;
  }
  & img {
    width: 100%;
  }
  &.red {
    background-color: $red;
    color: $white;
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
  &.black {
    background-color: $black;
    color: $white;
    &:hover {
      background-color: $white;
      color: $black;
    }
  }
  &:hover {
    box-shadow: 0px 1px 2px $black;
    opacity: 1;
  }
}

.slide .button, .nav-bar .button {
  clear: both;
  height: rem(20);
  margin-top: rem(30);
  margin-bottom: rem(10);
}
