.button {
  float: left;
  height: 20px;
  padding: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: "museo sans", sans-serif;
  font-size: rem(14);
  &.red {
    background-color: $red;
    color: $white;
  }
  &.black {
    background-color: $black;
    color: $white;
  }
}
