

.small-line {
  font-size: rem(40);
}

.hero {
  @include row();
  height: 530px;
  position: relative;
  overflow: hidden;
  background-color: rgba(0,0,0, .6);
  .red {
    color: $red;
  }
  .container {
    max-width: 60%;
    min-height: 100%;
  }
  &__title {
    font-size: rem(52);
    line-height: 1;
    color: $grey;
  }
  &__subtitle {
    text-transform: none;
    color: $white;
    font-family: "museo", sans-serif;
    font-weight: 500;
    font-size: rem(18);
  }
  &__content {
    position: absolute;
    bottom: 0;
    left: 40%;
  }
  &__img {
    width: 275px;
    position: absolute;
    bottom: -40%;
  }
}


.vid-bg {
  position: absolute;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .9;
}
