.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(100);
  z-index: 100;
  float: left;
  margin-top: rem(30);
  transition: all .2s ease-out;
  backface-visibility: hidden;
  @media screen and (max-width: $br-2) {
    background-color: #FFF;
    margin-top: 0;
    height: rem(50);
  }
}

.nav-bar__ul {            // .nav-bar ul
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 0 1rem;
  font-family: "museo-sans", sans-serif;
  font-size: rem(18);
  transition: all .3s linear;
  .button {
    margin: 0;
  }
  .logo {
    width: 100%;
    max-width: rem(200);
    transition: all .3s linear;
  }
  a {
    text-shadow: 0 0 10px #111;
    @media screen and (max-width: $br-2) {
      display: none;
    }
    &:not(.button) {
      color: $white;
      font-weight: 100;
      transition: none;
    }
  }
}

// fixed nav modifier
.is-fixed {
  background-color: $white;
  height: rem(50);
  margin: 0;
  box-shadow: 0px 1px 5px darken($grey, 20%);
  .nav-bar__ul {
    margin: 0;
    padding-top: rem(13);
  }
  .logo {
    height: rem(20);
  }
  a {
    text-shadow: none;
    &:not(.button) {
      color: $black;
      font-size: rem(16);
      font-weight: normal;
      &:hover {
        color: $red;
      }
    }
  }
  .button {
    font-size: rem(14);
    padding: rem(15);
    margin-top: -2px;
  }
}
