.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  float: left;
  margin-top: 30px;
  transition: all .3s ease-out;
}

.nav-bar__ul {            // .nav-bar ul
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  padding: 0;
  font-family: "museo sans", sans-serif;
  font-size: rem(18);
  transition: all .3s linear;
  .button {
    margin: 0;
  }
  .logo {
    width: 100%;
    max-width: 200px;
    transition: all .3s linear;
  }
  a {
    text-shadow: 0 0 10px #111;
    transition: all .3s linear;
    &:not(.button) {
      color: $white;
      font-weight: 100;
    }
  }
}

// fixed nav modifier
.is-fixed {
  background-color: $white;
  height: 50px;
  margin: 0;
  box-shadow: 0px 1px 5px darken($grey, 20%);
  .nav-bar__ul {
    margin: 0;
    padding-top: 13px;
  }
  .logo {
    height: 20px;
  }
  a {
    text-shadow: none;
    &:not(.button) {
      color: $black;
      font-size: rem(16);
      font-weight: normal;
      &:hover {
        color: $red;
      }
    }
  }
  .button {
    font-size: rem(14);
    padding: 15px;
    margin-top: -2px;
  }
}
