.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(100);
  z-index: 100;
  float: left;
  margin-top: rem(30);
  transition: all .2s ease-out;
  backface-visibility: hidden;
  @media screen and (max-width: $br-2) {
    display: none;
  }
}
.mobile-nav {
  display: none;
  margin-top: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  text-align: center;
  .mobile-nav-bar {
    height: rem(60);
    background-color: #FFF;
    padding: rem(15) 0;
    box-shadow: 0px 1px 5px darken($grey, 20%);
  }
  .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    padding: rem(15);
    img {
      height: rem(30);
      width: rem(40);
    }
  }
  .logo-link {
    display: block;
    margin-top: rem(5);
  }
  .logo {
    width: 30%;
    display: block;
    margin: 0 auto;
  }
  ul {
    padding: 0;
    margin: 0;
    display: none;
  }
  li {
    width: 100%;
    font-size: rem(14);
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding: rem(16) 0;
    display: block;
    text-align: center;
    color: $white;
    background-color: $black;
    a {
      width: 100%;
      display: block;
      &:hover {
        color: $red;
      }
    }
  }
  &.opened {
    ul {
      display: block;
    }
  }
  @media screen and (max-width: $br-2) {
    display: block;
  }
}


.nav-bar__ul {            // .nav-bar ul
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 0 1rem;
  font-family: "museo-sans", sans-serif;
  font-size: rem(18);
  transition: all .3s linear;
  .button {
    margin: 0;
  }
  .logo {
    width: 100%;
    max-width: rem(200);
    transition: all .3s linear;
  }
  a {
    text-shadow: 0 0 10px #111;
    @media screen and (max-width: $br-2) {
      display: none;
    }
    &:not(.button) {
      color: $white;
      font-weight: 100;
      transition: none;
    }
  }
  @media screen and (max-width: $br-2) {
    display: none;
  }
}

// fixed nav modifier
.is-fixed {
  background-color: $white;
  height: rem(50);
  margin: 0;
  box-shadow: 0px 1px 5px darken($grey, 20%);
  .nav-bar__ul {
    margin: 0;
    padding-top: rem(13);
  }
  .logo {
    height: rem(20);
  }
  a {
    text-shadow: none;
    &:not(.button) {
      color: $black;
      font-size: rem(16);
      font-weight: normal;
      &:hover {
        color: $red;
      }
    }
  }
  .button {
    font-size: rem(14);
    padding: rem(15);
    margin-top: -2px;
  }
}
