.slide {
  @include row();
  padding: 60px 0;
  height: 575px;
  display: flex;
  align-items: center;
  &__title {
    @include span-columns(6);
    font-size: rem(40);
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 10%;
      height: 3px;
      background-color: $black;
    }
  }

  &__subtitle {
    font-size: rem(18);
    font-weight: 100;
  }

  &__image {
    height: 400px;
  }

  &__content {
    @include span-columns(4);
    clear: both;
    line-height: 1.8;
  }

  &__column {
    @include span-columns(4);
    text-align: center;
    &__title {

    }
    &__content {

    }
  }

  // color modifiers
  &.white {
    background-color: $white;
    color: $black;
  }
  &.grey {
    background-color: $grey;
    color: $black;
  }
  &.black {
    background-color: $black;
    color: $white;
    .slide__title:after {
      background-color: $white;
    }
  }
  &.red {
    background-color: $red;
    color: $white;
    .slide__title:after {
      background-color: $white;
    }
  }

  // structural modifiers
  &.small {
    height: 495px;
  }

  &.right-align {
    .slide__title, .slide__content {
      @include shift(6);
    }
  }

  &.center-align {
    text-align: center;
  }
}
