//$visual-grid: true !global;

// import normalize
@import "normalize";

// import variables
@import "variables";

// import Boubon and Neat
@import "bourbon", "neat";

// base styles
@import "base";

// modules
@import "top-bar";
@import "slide";
@import "buttons";
@import "nav";
@import "hero";
@import "footer";
@import "modal";

@import "contact";
